/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared section */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

header,
main {
    margin: 50px 130px;
}

section {
    margin-top: 100px;
}

.primary-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0px;

}

.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;

}

.text-gray {
    color: #5A5A5D;
    margin: 20px 0px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background: #FF5400;
    padding: 15px 35px;
    border-radius: 8px;
    border: 0;
}

/* header section */

/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 44PX;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav li {
    list-style: none;
}

header span {
    color: #FF5400;
}

/* banner style */
.banner {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
    background-size: cover;
    padding: 105px 185px;
    margin-top: 50px;
    text-align: center;
}

.banner h3 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

input[type="text"],
select {
    padding: 16px;
    margin: 20px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
}

input[type="submit"] {
    padding: 16px;
    margin: 20px;
    color: #FFF;
    text-align: center;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    cursor: pointer;
}

/* popular tour section */
.tour-text {
    color: rgba(19, 19, 24, 0.70);
    margin: 10px 0px;
}

.popular-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* why-choose-us section */
.why-choose-us{
    text-align: center;
}

.card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
    
}

.card {
    text-align: left;
    border-radius: 16px;
    padding: 32px;
}

#card1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.cards > :nth-child(3) {
    grid-column: span 2;  
    justify-self: center; 
    width: 50%; 
    box-sizing: border-box;
}


/* responsiveness */
/* mobile and smaller devices */
@media screen and (max-width:576px) {

    header,
    main {
        margin: 20px;
    }

    nav>ul,
    nav {
        flex-direction: column;
    }

    .banner {
        padding: 20px;
    }

    .banner-form,
    .popular-tour,
    .cards
    {
        grid-template-columns: 1fr;
    }

    .cards > :nth-child(3) {
        grid-column: span 1;  
        width: 100%;
    }
    .popular-tour img {
        width: 100%;
    }


}